* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif JP", serif;
}

.l-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://firebasestorage.googleapis.com/v0/b/sasetaroh.appspot.com/o/DurH69fV4AAKo_X.jpg?alt=media&token=752f0f76-2922-4ea6-8612-e982757ac36d")
    top left repeat / 180px 226px;
  background-color: brown;
}

.m-main-title {
  color: yellow;
  font-size: 24px;
  text-shadow: 2px 2px red;
  background-color: black;
}

.m-main-icon {
  display: block;
  width: 120px;
  height: 120px;
  background: url("https://firebasestorage.googleapis.com/v0/b/sasetaroh.appspot.com/o/Xr6gpub9_400x400.jpg?alt=media&token=3dc5d103-8d5e-43c1-baec-12eeecfe80ca")
    center center no-repeat / cover;
  border: 4px solid lightgray;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  animation: sasetaro_dancing 10s ease 0s infinite;
}

@keyframes sasetaro_dancing {
  0% {
    top: 0;
    left: 0;
  }

  20% {
    top: 10%;
    left: 10%;
  }

  40% {
    top: 90%;
    left: 40%;
  }

  60% {
    top: 40%;
    left: 3%;
  }

  80% {
    top: 80%;
    left: 1%;
  }

  100% {
    top: 30%;
    left: 90%;
  }
}
